# Entornos virtuales
.venv/
venv/
env/

# Cachés de Python
__pycache__/
*.py[cod]
*.egg-info/

# Datos crudos pesados (no se commitean; sí los processed/)
data/raw_pdfs/

# Logs
*.log

# Modelos descargados de PaddleOCR/PaddleX
.paddlex/
